button{
    padding: 10px 20px;
    font-weight: bold;
    border: 0;
    border-radius: 4px ;
}
.wrapper{
    height: 100vh;
    width: 100vw;
}

/* Accordion-------- */
.Accordion{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    color: #fff;
}
.accordion{
    width: 50%;
}

.Accordion .item {
    background-color: steelblue;
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 4px ;
}

.Accordion .title{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.Accordion .answer{
    color: white;
    height: auto;
}

.Accordion button{
    padding: 10px 20px;
    font-weight: bold;
    background-color: slategray;
    color: white;
    border: 0;
    border-radius: 4px ;
}

/* Random Colour -------------- */

.RandomColour{
    padding-top: 100px;
    box-sizing: border-box;
}
.RandomColour .buttonBox{
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.RandomColour button{
    display: inline;
}
.RandomColour .content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 50px;
    color:#fff;
    margin-top: 50px
}

/* Random Colour -------------- */

.StarRating{
    padding: 100px 0;
    box-sizing: border-box;   
}

.active{
    color: #f2a90d;
}
.inactive{
    color: grey;
}

/* Random Colour -------------- */

.imageSliderContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 450px;
  }
  
  .current-image {
    border-radius: 0.5rem;
    box-shadow: 0px 0px 7px #666;
    width: 100%;
    height: 100%;
  }
  
  .arrow {
    position: absolute;
    width: 2rem;
    height: 2rem;
    color: #fff;
    filter: drop-shadow(0px 0px 5px #555);
  }
  
  .arrow-left {
    left: 1rem;
  }
  
  .arrow-right {
    right: 1rem;
  }
  
  .circle-indicators {
    display: flex;
    position: absolute;
    bottom: 1rem;
  }
  
  .current-indicator {
    background-color: #ffffff;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: none;
    outline: none;
    margin: 0 0.2rem;
    cursor: pointer;
  }
  
  .hide-current-image{
      display: none;
  }
  
  .inactive-indicator{
      background-color: gray;
  }
  .circle-indicators button{

    padding: 0;
    font-weight: normal;
    border: 0;
    border-radius: 50% ;
  }